:root {
	--background: #ededed;
	--foreground: #171717;
	--color-primary: #5b69e3;
	--color-black: #282827;

	--font-roboto-mono: "Roboto Mono", monospace;
	--font-afacad: "Afacad", serif;
}

@theme inline {
	--color-primary: var(--color-primary);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-roboto-mono: var(--font-roboto-mono);
	--font-afacad: var(--font-afacad);
}

text {
	font-family: var(--font-roboto-mono);
	font-size: 16px;
	line-height: 1.2;
}

title {
	font-family: var(--font-afacad);
	font-size: 24px;
	line-height: 1.2;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	height: 100%;
}
