.lesson-grid .ag-row {
	transition:
		box-shadow 0.2s ease,
		border-radius 0.2s ease;
}

.lesson-grid-row-selected {
	border-left: 4px solid var(--ag-header-background-color);
	border-right: 4px solid var(--ag-header-background-color);
}

.lesson-grid .lesson-grid-row-selected-first {
	border-radius: 15px 15px 0 0;
	box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.101);
}

.lesson-grid .lesson-grid-row-selected-last {
	border-radius: 0 0 15px 15px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.101);
}

.lesson-grid .lesson-grid-row-selected-first.lesson-grid-row-selected-last {
	border-radius: 15px;
	box-shadow:
		0 -5px 5px 0 rgba(0, 0, 0, 0.101),
		0 5px 5px 0 rgba(0, 0, 0, 0.101);
}

.lesson-grid .lesson-grid-row-selected.ag-row.ag-row-hover {
	z-index: 10000 !important;
	box-shadow:
		0 -5px 5px 0 rgba(0, 0, 0, 0.101),
		0 5px 5px 0 rgba(0, 0, 0, 0.101) !important;
}

.lesson-grid .lesson-grid-row-selected {
	z-index: 100;
}
.lesson-grid
	.ag-row.lesson-grid-row-selected:not(.lesson-grid-row-selected-first):not(
		.lesson-grid-row-selected-last
	) {
	box-shadow: none;
	z-index: 1000;
}

.lesson-grid .ag-row.ag-row-hover {
	z-index: 10;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.325);
}

.lesson-grid .ag-row.ag-row-hover .ag-cell {
	border-left: 0 !important;
	border-right: 0 !important;
}

.lesson-grid .locked {
	z-index: 10;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.325);
}

.lesson-grid .lesson-grid-row-selected.locked {
	z-index: 10000 !important;
	box-shadow:
		0 -5px 5px 0 rgba(0, 0, 0, 0.101),
		0 5px 5px 0 rgba(0, 0, 0, 0.101) !important;
}

.lesson-grid .ag-row.locked .ag-cell {
	border-left: 0 !important;
	border-right: 0 !important;
}

.lesson-grid .ag-header-cell.lesson-grid-no-resize .ag-header-cell-resize {
	display: none;
	pointer-events: none;
}

.lesson-grid .lesson-grid-no-resize {
	pointer-events: none;
}
